[defaults]
host_key_checking=false
<<<<<<< HEAD
private_key_file=/home/aarya/DevOps-class-assessment/capstone_project/ansible-code/ansible-worker-us-west-2.pem
=======
private_key_file=/home/einfochips/DevOps-class-assessment/capstone_project/ansible-code/k8s-sudarshan.pem
>>>>>>> refs/remotes/origin/main
ask_pass=false
remote_user=ubuntu
roles_path=./roles

[priviledge_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false

[inventory]
<<<<<<< HEAD
enable_plugins = aws_ec2
=======
enable_plugins = aws_ec2,ini,yaml
inventory=./aws_ec2.yaml
>>>>>>> refs/remotes/origin/main
